body {
    font-family: 'Nunito', sans-serif;
    background-image: url('iniciosesion.png'); /* Reemplaza con la URL de tu imagen de fondo */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: #fff;
}

.headerRegistrarse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

.anclalogo {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.anclalogo i {
    margin-right: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #fff;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    color: #ddd;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin-right: 10px;
}

.error-text {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.input-group input::placeholder {
    color: #bbb;
}

.boton {
    width: 100%;
    padding: 15px;
    background-color: #5e1616; /* Color rojo por defecto */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.boton:hover {
    background-color: #151615;
    color: #ffcc00; /* Cambiar a un color llamativo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boton:active {
    background-color: #000; /* Cambiar a negro cuando se hace clic */
    color: #fff; /* Mantener el texto blanco al hacer clic */
}

.ayuda {
    color: #1417cf;
    display: block;
    margin-top: 20px;
    text-decoration: none;
}

.ayuda:hover {
    text-decoration: underline;
}
